.clearfix {
    overflow: auto;
  } 
/* *{
    margin:0;
    padding:0;
} */
  h1{
    font-family: 'Rubik Mono One', sans-serif;
    font-style: italic;
    font-size: 60px;
    color: midnightblue;
    background-color: rgb(250, 236, 216);
    padding-left: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0em;
}
.mainNav{
    background-color: midnightblue;
    margin-top: 5px;
}
.mainNav a{
    background-color:midnightblue;
    color: navajowhite;
    display: inline-block;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    text-decoration: none;
    padding: 15px 5.5%;
    margin: 0em;
    border-right: 1px solid navajowhite;
    }
.mainNav a:hover{
    background-color: royalblue;
}
/* .mainNav a :active{
    background-color: royalblue; 
}*/
footer{
    background-color: midnightblue;
    padding: 15px 5%;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer li{
    color: navajowhite;
    font-family: 'open sans', arial;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
footer a{
    color:white;
    font-family: 'open sans', arial;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
aside{
    display: block;
    background-color: lightblue;
    padding-top: 15px 0px;
    border: 1px solid midnightblue;
    width: 150px;
    position: -webkit-sticky; /* Safari */
    float:right;
    position: sticky;
    right:10px;
    top: 300px;
}
aside a{
    display: block;
    color: midnightblue;
    font-family: 'open sans', arial;
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
    text-align: left;
    text-decoration:underline;
    padding-left: 10px ;
    padding-top: 5px;
    padding-bottom: 5px;
}

header{
    width: 80%;
    padding-left: 5%;
}
article{
    width: 80%;
    padding-left: 5%;
}
img{
    display: inline-block;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
header h2{
    color:maroon;
    text-decoration: underline;
}

p, label,textarea, div li{
    font-family: 'open sans', arial;
    font-size: 18px;
    line-height: 25px;
}
div.kommentar{
    width: 95%;
    padding-left: 5%;
    margin-bottom: 20px;
}
section.kommentar{
    display: inline-block;
    width: 300px;
    padding:15px;
    border: 1px dashed gray;
    background-color: rgb(250, 236, 216);
    margin: 5px;
}
fieldset{
    width: 60%;
    border:1px solid gray;
    padding:20px 30px;
    margin-left: 5%;
    background-color:rgb(250, 236, 216);
}
legend{
    font-family: 'open sans', arial;
    font-size: 20px;
    font-weight: bolder;
    line-height: 25px;
}
textarea{
    width: 70%;
    height: 150px;
    margin-top: 20px;
}
input, label{
    margin: 0.5em 0em;
}
#namn, #sprak, #modersmal{
    width: 50%;
}
div.kontakt{
    width: 80%;
    margin-left: 5%;
    border: 1px solid red;
    position: absolute;
    display: block;
}
ul.kontakt{
    width: 30%;
    display: inline-block;
    border: 1px solid red;
    position: relative;
    top:0;
    left: 0;
}
iframe{
    width:50%;
    display: inline;
    position:relative;
    right:0;
}